html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

* {
    box-sizing: border-box;
    transition: all 0.25s linear;
}

:root {
    --header-bg: #10375c;
}

/* ================== common ======================= */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    --height: 60px;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    border: 1px solid #2e80ce;
    line-height: var(--height);
    background: #2e80ce;
    border-radius: 99px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

.btn:hover {
    opacity: 0.9;
    background: #fff;
    color: #2e80ce;
    border: 1px solid currentColor;
}

.sub-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.1rem;
}

.sub-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-2 {
    --line-clamp: 3;
}

/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.header__top {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.logo {
    display: inline-flex;
    font-size: 1rem;
    position: relative;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
}

.logo__brand {
    display: block;
    color: #fff;
    text-align: right;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.1;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.nav {
    margin-left: 283px;
}

.nav__list {
    display: flex;
}

.nav__item {
    a {
        padding: 8px 21px;
        display: inline-block;
        color: #c9d2da;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.75; /* 175% */
    }

    a:hover {
        font-weight: 400;
        color: #fff;
    }

    a::after {
        content: attr(title);
        display: block;
        height: 0;
        font-weight: 400;
        color: #fff;
        overflow: hidden;
        visibility: hidden;
    }

    .active {
        color: #fff;
        font-weight: 400;
    }

    .active::before {
        position: relative;
        top: -2px;
        left: -8px;
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
    }
}

.header-action {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 23px;
    padding: 5px;
    color: #c9d2da;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
    font-weight: 400;
    font-size: 1.6rem;
}

/* Hero */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.14rem;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.hero__cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__image {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.hero__image--big,
.hero__image--small {
    object-fit: cover;
    border-radius: 6px;
}

.hero__image--big {
    position: relative;
    right: -6px;
    width: 330px;
    height: 540px;
}

.hero__image--small {
    width: 210px;
    height: 410px;
}

/* Services */
.services {
    margin: 170px 0;
}

.services__intro {
    text-align: center;
}

.services__heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.1rem;
}

.services__desc {
    margin: 0 auto;
    width: 468px;
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.services__row {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}

.services__img {
    display: block;
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.services__content {
    padding: 35px 0;
}

.services__item {
    display: flex;
    width: 470px;
    padding: 21px 22px 20px 22px;
    border-radius: 10px;
    background: #fff;
    transition: all 0.25s ease-in-out;
}

.services__item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services__item:hover .item__icon--circle {
    color: #fff;
    background: #2e80ce;
}

.item__desc--name {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.item__desc--sub {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.services__btn {
    margin-top: 55px;
}

.item__icon--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #10375c;
    background: #eff6fd;
    margin-right: 19px;
    transition: all 0.25s ease-in-out;
}

/* Word */
.word {
    background: #f6fbff;
    padding: 100px 0;
}

.word__desc {
    margin-top: 18px;
    width: 468px;
}

.word__list {
    display: flex;
    column-gap: 30px;
    margin-top: 86px;
}

.word-item {
    padding: 43px;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
}

.word-item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.word-item__title {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.39; /* 138.462% */
}

.word-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.word-item__link {
    display: inline-block;
    margin-top: 18px;
    color: #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.word-item__link:hover {
    text-decoration: underline;
}

/* feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}
.feature__wrap {
    display: flex;
    gap: 130px;
    align-items: center;
}

.feature__media {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__media--big {
    display: block;
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__media--small {
    bottom: 0;
    right: 0;
    position: absolute;
    display: block;
    width: 322px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__desc {
    margin-top: 18px;
}

.feature__cta {
    margin-top: 38px;
}

/* Member */
.member {
    padding: 85px 0;
}

.member__act {
    text-align: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member-item__img-bg {
    padding: 28px 4px 0;
    border-radius: 6px;
    background: #eaf6ff;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__name,
.member-item__desc {
    text-align: center;
}

.member-item__name {
    margin-top: 12px;
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75; /* 175% */
}

.member-item__desc {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86; /* 185.714% */
}

.member__control {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.member__control-btn {
    border: none;
    width: 36px;
    height: 36px;
    background: #fff;
    border: 1px solid #575f66;
    color: #575f66;
    border-radius: 50%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s;
}

.member__control-btn:hover {
    background: #2e80ce;
    border-color: #2e80ce;
}

.member__control-btn:hover .member__control-icon {
    color: #fff;
}

.member__control-btn:last-child .member__control-icon {
    rotate: 180deg;
}

/* Install App */
.install {
    margin: 180px 0 85px;
}

.install__inner {
    border-radius: 4px;
    background: #2e80ce;
    display: flex;
    gap: 160px;
    align-items: center;
    padding: 0 70px;
}

.install__img {
    width: 284px;
    height: 522px;
    object-fit: cover;
    display: block;
    margin-top: -95px;
}

.install__content--title {
    max-width: 489px;
    color: #fff;
}

.install__content--desc {
    color: #fff;
    margin-top: 18px;
}

.install__row {
    margin-top: 38px;
    display: flex;
    gap: 28px;
}

.install__button {
    outline: none;
    border: none;
    background: transparent;
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
}

/* New */
.new {
    padding: 85px 0;
}

.new__inner {
    display: flex;
    align-items: center;
    gap: 130px;
}

.new__content {
    width: 40%;
}

.new__cta {
    display: inline-block;
    margin-top: 28px;
    color: #10375c;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56; /* 155.556% */
}

.new__cta:hover {
    text-decoration: underline;
}

.new__control {
    margin-top: 28px;
    margin-right: auto;
    justify-content: flex-start;
}

.new__list {
    display: flex;
    gap: 30px;
}

.new__item {
    border: 1px solid #e8ebee;
    border-radius: 12px;
    width: 270px;
    overflow: hidden;
}

.img-link {
    display: inline-block;
    width: 100%;
    height: 172px;
    overflow: hidden;
}

.new__item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}

.new__item:hover .new__img {
    transform: scale(1.1);
}

.new__img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
    display: block;
    object-fit: cover;
}

.item__box {
    padding: 18px 24px 21px 22px;
}

.new__heading {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.63; /* 162.5% */
}

.new__desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71; /* 171.429% */
}

.new__link {
    display: inline-block;
    margin-top: 12px;
    color: #10375c;
    font-size: 1.4rem;
    font-weight: 400;
}

.new__link:hover {
    color: #2e80ce;
}

/* Appointment */
.appointment {
    margin: 85px 0 170px;
}

.appointment__inner {
    padding: 100px 0;
    background: #f6fbff;
    text-align: center;
}

.appointment__line {
    margin: 18px auto 0;
    width: 136px;
    height: 2px;
    background: #2e80ce;
}

.appointment__desc,
.appointment__tell {
    color: #575f66;
    font-size: 1.6rem;
    max-width: 617px;
    margin: 18px auto 0;
}

.appointment__btn {
    margin-top: 38px;
}

/* Footer */
.footer {
    padding: 100px 0 42px;
    background: var(--header-bg);
}

.footer__inner {
    display: flex;
}

.footer__logo {
    width: 35%;
}

.footer__desc {
    margin-top: 21px;
    max-width: 336px;
    color: #a9b3bb;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.footer__column-1 {
    width: 18.12%;
}

.footer__column-2 {
    width: 18.12%;
}

.footer__column-3 {
    width: calc(100% - 18.12% - 18.12% -35%);
}

.column__support {
    color: #fff;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.column__info {
    margin-bottom: 10px;
    color: #a9b3bb;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.column__info:hover {
    text-decoration: underline;
}

.column__info--row-2,
.column__info--row-7,
.column__info--row-5 {
    margin-top: 20px;
}

.column__support--row-6,
.column__support--row-4,
.column__support--row-3 {
    margin-top: 28px;
}

.column-icon__social {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.icon__social-media {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.icon__social {
    --color: #2e80ce;
    color: var(--color);
}

.icon__social-media:hover {
    background: #2e80ce;
}

.icon__social-media:hover .icon__social {
    color: #fff;
}

.footer__desc--under-sub {
    max-width: 273px;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.86; /* 185.714% */
}

.footer__cta {
    margin-top: 10px;
    display: flex;
    gap: 12px;
}

.footer__email {
    padding: 0 10px;
    outline: none;
    width: 212px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #406181;
    background: transparent;
    color: #fff;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 500;
}

.footer__sub {
    min-width: 108px;
    height: 46px;
    line-height: 46px;
    border-radius: 4px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 600;
}

.footer__line {
    margin-top: 28px;
    width: 100%;
    height: 1px;
    background: #406181;
}

.footer__coppy-right {
    margin-top: 28px;
    color: #aab3ba;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}
